.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container {
  position: relative;
  width: 220px;
  height: 220px;
}

.text-block {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: #396EA5;
}

.blueBigText {
  font-size: 28px;
  background: #FFF;
  color: #396EA5;
  font-family: Calibri Light;
}


.graySmallText {
  font-family: Calibri Light;
  font-size: 20px;
  background: #FFF;
  color: #666666;
  margin-right: 10%;
  margin-left: 10%;
}
